<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BPFix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OpenBPF 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OpenBPF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>trafficdb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>xtcpshow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4639F8201798BA9700E59491</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469604FA17CDD02300798814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4696051617CDDEEC00798814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4696052317CDDF4300798814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4696053417CDE07200798814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4696054917CDFC9100798814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
